extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Hey, Potential Employers, or Let's make the web great together!

      p.lead.text-light Welcome to my portfolio! The purpose of this portfolio is to show off my JavaScript skills, and showcase projects that I have made over the course of my learning.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project, index in projects
        .cell.hidden
          a(href=`/project/${index}`)
            img.thumbnail(src=`/static/images/screenshot-${index}.png`)
            h5= project_name
      
